{% load static %}

<li>
    <article class="post">
        <a href="">
            <img src="{% static "blog/images/mountains.jpeg" %}" alt="mountains">
            <div class="post__content">
                <h3>Some Text</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet soluta, laboriosam vel fugit obcaecati facilis facere voluptatum temporibus quos architecto blanditiis velit? Laborum autem eveniet labore adipisci harum optio vero.</p>
            </div>
        </a>
    </article>
</li>